{% extends "index" %}

{% block homepage %}


<section class="section section--on-top tabs js-tabs whats-on tabbed-content" id="whatsOn">

    {# title #}
    <div class="wrapper wrapper--even whats-on__wrapper stagger-children">
        <div class="wrapper__col stagger-child">
            <h2 class="h4 whats-on__heading">{{ entry.heroTitle }}</h2>
        </div>

        <div class="wrapper__col"></div>

        <div class="wrapper__col stagger-child">
            {# all navigations buttons #}
            <div class="tabs__nav">
                <ul class="tabs__list tab-navigation">
                    <li class="tabs__item" data-tab-target="just-announced">
                        <button class="tabs__link tabs__link--active js-tabs__link js-tabs__link--active">
                            Just Announced
                        </button>
                    </li>

                    <li class="tabs__item" data-tab-target="upcoming">
                        <button class="tabs__link js-tabs__link">
                            Upcoming
                        </button>
                    </li>

                    <li class="tabs__item" data-tab-target="featured">
                        <button class="tabs__link js-tabs__link">
                            Featured
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    {# -----content to move----- #}
    {# all card data #}
    {% include 'events/index.twig' %}
    {# ---- content to move ------ #}
</section>

{% endblock homepage %}